html{
    margin: 0px;
    background: rgb(227,201,166);
}

body{
    width: 100vw;
    height: 214vw;
    background: rgb(227,201,166);
    background: linear-gradient(0deg, rgba(227,201,166,1) 0%, rgba(65,67,87,1) 76%, rgba(2,11,27,1) 96%);
    margin: 0px;
    display: flex;
    justify-content: center;
    
    
}
hr{
    width: 10vw;
    height: 1px;

    background-color: white;
}

@font-face {
    font-family: "ulsanjunggu";
    src: url("ulsanjunggu.ttf") format("truetype");
    font-weight: normal;
}

.main{
    width: 100vw;
    height: 90vw;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbox{
    width: 100vw;
    margin-bottom: 10vw;
    color: white;
}

.동그라미{
    width: 90vw;
    margin: 2vw;
    font-family: "ulsanjunggu";
    color: rgba(185, 185, 185, 0.452);
}
.한서대대동제-outbox{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}
.한서대대동제{
    font-size: 8vw;
    font-family: "ulsanjunggu";

}
.time_table{
    color: white;
    font-size: 6vw;
    font-weight: 900;

    width: 74vw;
    height: 13vw;
    
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50vw;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.midbox{
    width: 90vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottombox{
    width: 95vw;
    margin-top: 10vw;
    display: flex;
    justify-content: space-around;

}
.bottombox_left,.bottombox_mid,.bottombox_right{
    color: white;
    display: flex;
    flex-direction: column;

}

.bottombox_left{
    width: 33vw;
}
.bottombox_mid{
    display: flex;
    justify-content: center;
}
.schedule_time{
    margin: 1vw;
    font-size: 4vw;
}
.bottombox_right{
    width: 33vw;
}

.day1{
    display: flex;
    justify-content: start;
}
.day1-1,.day1-2,.day1-3,.day1-4{
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    padding: 3vw;
    font-size: 4vw;
    font-weight: 900;
}
.color_yellow{
    color: rgb(255, 217, 0);
}
.day1-1{
    height: 40vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    
    align-items: end;

    margin-top: 5vw;
    font-size: 4vw;
    font-weight: 900;
}
.day1-2{
    margin-top: 4vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    
}
.day1-3{
    margin-top: 2vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
}
.day1-4{
    margin-top: 2vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    
}



.day2{
    display: flex;
    justify-content: end;
}
.point{
    width: 3vw;
}
.place{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}
.booth{
    width: 20vw;
    height: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.295);
    border: 0px;
    border-radius: 1.7vw;
    font-size: 2.7vw;
    font-weight: 900;
    color: white;
}
.celebrity_img{
    width: 5vw;
}
.celebrity{
    width: 25vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1vw;
}

.celebrity2{
    width: 25vw;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1vw;
}