html{
    margin: 0px;
    background: rgb(227,201,166);
}

body{
    width: 100vw;
    height: 214vw;
    background: rgb(227,201,166);
    background: linear-gradient(0deg, rgba(227,201,166,1) 0%, rgba(65,67,87,1) 76%, rgba(2,11,27,1) 96%);
    margin: 0px;
    display: flex;
    justify-content: center;
    
    
}
hr{
    width: 10vw;
    height: 1px;

    background-color: white;
}

@font-face {
    font-family: "ulsanjunggu";
    src: url("ulsanjunggu.ttf") format("truetype");
    font-weight: normal;
}

.main{
    width: 100vw;
    height: 90vw;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbox{
    width: 100vw;
    margin-bottom: 10vw;
    color: white;
}

.동그라미{
    width: 90vw;
    margin: 2vw;
    font-family: "ulsanjunggu";
    color: rgba(185, 185, 185, 0.452);
}
.한서대대동제-outbox{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}
.한서대대동제{
    font-size: 8vw;
    font-family: "ulsanjunggu";

}
.boothinfo{
    color: white;
    font-size: 6vw;
    font-weight: 900;

    width: 74vw;
    height: 13vw;
    
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50vw;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.midbox{
    width: 90vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.map{
    width: 90vw;
    height: 30vw;
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hanseo_map{
    width: 70vw;
    height: 30vw;
    border: 1px solid black;
}
.bottombox{
    width: 90vw;
    height: 90vw;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    
    align-items: center;

    
}
.booth_outbox{
    display: flex;
    width: 94vw;
    height: 25vw;
    
    margin-top: 1vw ;
    margin-bottom: 1vw ;

}

.booth_image{
    width: 25vw;
    height: 22vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(255, 255, 255, 0.479);   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hanseo_img{
    width: 15vw;
}

.booth{
    width: 80vw;
    height: 22vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(177, 177, 177, 0.651);
    
}

.heart{
    display: flex;
    justify-content: end;
    
}
.place{
    color: rgba(255, 0, 76, 0.377);
    font-size: 2.7vw;
    margin-left: 1vw;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.booth_name{
    color: rgb(65, 24, 99);
    font-size: 4.5vw;
    font-weight: 1000;
    
    margin-left: 1vw;
    
}

.introduce{
    color: rgba(2, 2, 2, 0.973);
    font-size: 3vw;
    font-weight: 600;
    margin-left: 1vw;
}
.heart_outbox{
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    
}




.heart {
    width: 6vw;
    height: 6vw;
    margin: 1vw;
    background-color: rgb(75, 75, 75);
    position: relative;
    transform: rotate(-45deg) scale(0.5);
    cursor: pointer;
}

.heart::before {
    content: '';
    width: 6vw;
    height: 6vw;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    position: absolute;
}

.heart::after {
    content: '';
    width: 6vw;
    height: 6vw;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -4vw;
    left: 0;
}

.heart::after {
    top: 0;
    left: 4vw;
}














